build 
__pycache__

thirdparty/pangolin 
thirdparty/sophus 
thirdparty/ceres 
thirdparty/gtsam 
thirdparty/g2o 
thirdparty/mahigui
thirdparty/json
thirdparty/opencv
thirdparty/sesync 
thirdparty/dbow3
thirdparty/obindex2
thirdparty/ibow-lcd
thirdparty/rerun
thirdparty/tensorrtbuffer/lib/libtensorrtbuffer.so
thirdparty/TensorRT
thirdparty/rerun
thirdparty/tracy
thirdparty/tracy-profiler
thirdparty/TensorRT-8.5.1.7.Linux.x86_64-gnu.cuda-11.8.cudnn8.6.tar.gz

# data 
data/new_college
data/remode_test_data/*
data/freiburg_sequence/matches