build 
__pycache__

thirdparty/pangolin 
thirdparty/sophus 
thirdparty/ceres 
thirdparty/gtsam 
thirdparty/g2o 
thirdparty/mahigui
thirdparty/json
thirdparty/opencv
thirdparty/sesync 
thirdparty/dbow3
thirdparty/obindex2
thirdparty/ibow-lcd
thirdparty/rerun
thirdparty/tensorrtbuffer/lib/libtensorrtbuffer.so

data/new_college
data/remode_test_data/*
